/* carregadores.css */

body {
    background-color: #e8f5e9; /* Verde claro para a categoria de carregadores */
}

h1 {
    color: #388e3c; /* Cor escura para o título */
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #4caf50; /* Um tom verde para subtítulos */
}
